<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rigid_fixture">
  <link
    name="base_link1">
    <inertial>
      <origin
        xyz="-1.49084244949194E-10 0.00211072676200116 0.029671248012018"
        rpy="0 0 0" />
      <mass
        value="0.0989605790169384" />
      <inertia
        ixx="3.54057648984075E-05"
        ixy="-1.22869867546122E-13"
        ixz="2.65187431869048E-13"
        iyy="6.36956475462506E-05"
        iyz="3.84139315008309E-07"
        izz="6.29725463628788E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rigid_fixture/meshes/base_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rigid_fixture/meshes/base_link1.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="tip_link">
    <inertial>
      <origin
        xyz="4.9791253758924E-10 2.54231011243E-11 -0.00617173533483847"
        rpy="0 0 0" />
      <mass
        value="0.0329252933742976" />
      <inertia
        ixx="9.11742551111513E-06"
        ixy="-6.13798968796412E-16"
        ixz="1.99805965392803E-13"
        iyy="2.71193405333785E-05"
        iyz="7.12320064993324E-15"
        izz="3.49319323213201E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rigid_fixture/meshes/tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rigid_fixture/meshes/tip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rigid_fixture"
    type="fixed">
    <origin
      xyz="0 0 0.106"
      rpy="0 0 0" />
    <parent
      link="base_link1" />
    <child
      link="tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="8.95321890339446E-06 0.000350790128642562 -0.00737706723562668"
        rpy="0 0 0" />
      <mass
        value="0.0308824472848566" />
      <inertia
        ixx="2.95081939486421E-06"
        ixy="-3.29217720559751E-11"
        ixz="6.49330441952457E-10"
        iyy="1.10631939956228E-05"
        iyz="-2.9373417885962E-09"
        izz="1.27178223303866E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rigid_fixture/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rigid_fixture/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="-3.27928420890758E-05 0.0238231032736582 0.037763454177693"
      rpy="-1.0471975511966 0 0" />
    <parent
      link="base_link1" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>